<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-hab - Sign In</title>

    <link rel="stylesheet" href="https://kit.fontawesome.com/9ff0a6969a.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', path='/styles/login.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <!-- <img src="https://i.imgur.com/gr4XvFZ.png" alt="GitHub"> -->
            <!-- <span>E-hab</span> -->
        </div>
        <div class="title">
            <p>Sign in to E-hab</p>
        </div>
        <form class="form" method="post">
            <div class="input-field">
                <label>Email address</label>
                <input type="email" class="input validate" name="email" id="email">
            </div>
            <div class="input-field">
                <label>Password</label>
                <input type="password" class="input validate" name="password" id="password">
                <a href="" class="forgot">Forgot password?</a>
            </div>
            <div class="">
                <button type="submit" class="sign_btn">Sign In</button>
            </div>
        </form>
        <div class="create_act">
            <p>New to E-hab? <a href="{{url_for('register')}}">Create an account.</a></p>
        </div>
    </div>

    
    <script src="https://kit.fontawesome.com/9ff0a6969a.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>