<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-hab</title>
        <link rel="stylesheet" href="{{url_for('static', path='/styles/user-page.css')}}">
        <script src="https://kit.fontawesome.com/a6f061081d.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="header">
            <div class="container">
                <nav>
                    <!-- <img src="{{url_for('static', path='/assets/thumbnail12.png')}}" class="logo"> -->
                    <h1>E-hab</h1>
                    <ul id="sidemenu">
                        <li><a href="#header">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#facilitator">Register</a></li>
                        <li><a href="{{url_for('logout')}}">Logout</a></li>
                        <!-- <li><a href="#info">Info</a></li> -->
                        <i class="fa-solid fa-square-xmark" onclick="closemenu()"></i>
                    </ul>
                    <i class="fa-solid fa-bars" onclick="openmenu()"></i>
                </nav>
                <div class="header-text">
                    <h1>Hi, <span> {{user.name}}</span>!</h1> <br><br><br><br><br>
                    <h4><i class="fa-solid fa-user user-details"></i> <span class="user-details">&nbsp &nbsp @{{user.username}}</span></h4>
                    <h5><i class="fa-solid fa-envelope user-details"></i> <span class="user-details">&nbsp &nbsp {{user.email}}</span> </h5>
                    <h5><i class="fa-solid fa-phone user-details"></i> <span class="user-details">&nbsp &nbsp {{user.contact_no}}</span> </h5>
                </div>
            </div>
        </div>
        <!-- --------------about----------------- -->
        <div id="about">
            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <img src="{{url_for('static', path='/assets/about us icon.png')}}">
                    </div>
                    <div class="about-col-2">
                        <h1 class="sub-title">About Us</h1><br>
                        <p>At E-HAB, we also understand that recovery is a unique and personal journey, and we respect each individual's path to
                        healing. Our team is committed to providing a safe and supportive space where you can access the resources and support
                        you need to thrive.
                        <br><br>
                        Our platform offers a variety of features and resources, including a community forum, educational materials, access to
                        trained professionals, and personalized support. We believe in the power of peer support and community, and we encourage
                        you to connect with others who are on a similar path to recovery.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------services-------------- -->
        <div id="services">
            <div class="container">
                <h1 class="sub-title">Our Services</h1>
                <div class="services-list">
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <h2>Find Support Groups</h2>
                        <p>Support groups can be beneficial for individuals facing a variety of issues, such as addiction, mental health concerns,
                        chronic illness, grief and loss, or other life challenges. In these groups, participants can feel heard, understood, and
                        validated by others who have had similar experiences.</p>
                        <a href="{{url_for('search_sg')}}">
                            <button type="submit"
                                style="margin-top: 2em; background-color: transparent; color: white; padding: 1em; border-radius: 25px; cursor: pointer;">Search</button>
                        </a>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <h2>Find Rehab Centres</h2>
                        <p>Rehab centers are facilities that provide comprehensive treatment programs for individuals struggling with addiction and
                        substance abuse. These programs typically include a combination of detoxification, therapy, counseling,
                        medication-assisted treatment, and aftercare support.</p>
                        <a href="{{url_for('search_rc')}}">
                            <button type="submit" style="margin-top: 2em; background-color: transparent; color: white; padding: 1em; border-radius: 25px; cursor: pointer;">Search</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------wanna be a facilitator--------------- -->
        {% if not is_facilitator %}
        <div id="facilitator">
            <div class="container">
                <h1 class="sub-title">Wanna be a facilitator?</h1>
                <div class="facilitator-list">
                    <div>
                        <i class="fa-solid fa-user-plus"></i>
                        <h2>Register as a facilitator</h2>
                        <p>Want to list a Support Group or a Rehab Centre? You have to  be a facilitator to do so...</p>
                        <form action="/reg-facilitator" method="POST">
                            <button type="submit" style="margin-top: 2em; background-color: transparent; color: white; padding: 1em; border-radius: 25px; cursor: pointer;">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- -----------------Already a facilitator------------ -->
        {% if is_facilitator %}
        <div id="Afacilitator">
            <div class="container">
                <h1 class="sub-title">Already a facilitator?</h1>
                <div class="Afacilitator-list">
                    <div>
                        <i class="fa-solid fa-user-plus"></i>
                        <h2>Register for a Support Group</h2>
                        <p>Register your Support Group so that other people can join it.</p>
                        <a href="{{url_for('add_support_grps')}}">
                            <button type="submit"
                                style="margin-top: 2em; background-color: transparent; color: white; padding: 1em; border-radius: 25px; cursor: pointer;">Register support group</button>
                        </a>
                    </div>
                    <div>
                        <i class="fa-solid fa-user-plus"></i>
                        <h2>Register for a Rehab Center</h2>
                        <p>Register your Rehab Center to help others.</p>
                        <a href="{{url_for('add_rehab_center')}}">
                            <button type="submit"
                                style="margin-top: 2em; background-color: transparent; color: white; padding: 1em; border-radius: 25px; cursor: pointer;">Register rehab center</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
                
            </div>
        </div>
        {% endif %}
        <br><br><br>
        <!-- --------------contact me------------- -->
        <div id="contact">
            <div class="container">
                <div class="copyright">
                    <p>E-hab</p>
                </div>
            </div>
        </div>



        <script>

            var tablinks = document.getElementsByClassName("tab-links");
            var tabcontents = document.getElementsByClassName("tab-contents");

            function opentab(tabname) {
                for (tablink of tablinks) {
                    tablink.classList.remove("active-link");
                }
                for (tabcontent of tabcontents) {
                    tabcontent.classList.remove("active-tab");
                }
                event.currentTarget.classList.add("active-link");
                document.getElementById(tabname).classList.add("active-tab");
            }
        </script>

        <script>

            var sidemenu = document.getElementById("sidemenu");

            function openmenu() {
                sidemenu.style.right = "0";
            }
            function closemenu() {
                sidemenu.style.right = "-200px";
            }

        </script>

        <script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbwcwsyGvkiodJJgQ4OQi8baChOp17uBfPolY7XhZAumnW9tSAKeW_FxkrL3HVVcE9h9/exec'
            const form = document.forms['submit-to-google-sheet']
            const msg = document.getElementById("msg")

            form.addEventListener('submit', e => {
                e.preventDefault()
                fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                    .then(response => {
                        msg.innerHTML = "Message sent successfully"
                        setTimeout(function () {
                            mssg.innerHTML = ""
                        }, 5000)
                        form.reset()

                    })


                    .catch(error => console.error('Error!', error.message))
            })
        </script>

    </body>

</html>